.hero{
    background-image: url("https://www.rotary-ribi.org/upimages/PageMainPics/Gentlemen's%20Evening%20(6).jpg");
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    padding: 20px 15px;
    text-align: center;
}

.välkomst{
    font-family: "Imperial Script";
    font-size: 3rem;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 100%);
}

.heroP{
    font-family: "Tangerine";
    font-size: 1.6rem;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 100%);
}