nav{
    display: flex;
    flex-direction: column;
    padding-block: 5px;
    background-color: antiquewhite;
    position: sticky;
    top: 0px;
    min-height: 75px;
}

.title{
    font-size: 2.2rem;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.3rem;
    font-family: "Imperial Script", serif;
}

a{
    color: black;
}